{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          {{ form.non_field_errors }}

          <label for="{{ form.file.id_for_label }}"> Select a .txt file that contains integers to sort </label>
          {{ form.file }}
          <div class="text-danger">{{ form.file.errors }}</div>
          <br>

          <label for="{{ form.sort_options.id_for_label }}"> Select an sorting algorithm </label>
          {{ form.sort_options }}
          <div class="text-danger">{{ form.sort_options.errors }}</div>
          <br>

          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    {% if sort_result %}
      <div class="row">
        <div class="col">
          <div>
            <p>Time: {{ sort_result.time }}</p>
          </div>
          <div>
            <p>Algorithm: {{ sort_result.algorithm }}</p>
          </div>
          <div>
            <p>Unsorted: {{ sort_result.unsorted_array }}</p>
          </div>
          <div>
            <p>Sorted: {{ sort_result.sorted_array }}</p>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}